aiofiles==24.1.0
aiohttp>=3.9.0
httpx>=0.25.0
asyncpg
pillow>=9.5.0
psutil>=5.9.0
py-tgcalls==2.2.1
ntgcalls==2.2.5
basiccalls==2.2.9.2
python-dotenv==1.0.1
tgcrypto
youtube-search-python
kurigram>=2.2.25
